<section id="fh5co-missions" data-section="missions" style="background-image: url(/images/{{ .Site.Params.missions.background }});" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ i18n .Site.Params.missions.title }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ i18n .Site.Params.missions.description }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.missions.item }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 {{ .icon }}"></i>
					<h3>{{ i18n .title }}</h3>
					<p>{{ i18n .description }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
		</div>
</section>
